<template>
  <div id="sidebar-admin">
    <nav class="navbar navbar-dark navbar-theme-primary px-4 col-12 d-lg-none">
        <a class="navbar-brand me-lg-5" href="../../index.html">
            <img class="navbar-brand-dark" src="/images/brand/light.svg"
            alt="Volt logo" /> 
            <img class="navbar-brand-light"
            src="/images/brand/dark.svg" alt="Volt logo" />
        </a>
        <div class="d-flex align-items-center">
            <button class="navbar-toggler d-lg-none collapsed" type="button"
                data-bs-toggle="collapse" data-bs-target="#sidebarMenu"
                aria-controls="sidebarMenu" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>

    <nav id="sidebarMenu"
        class="sidebar d-lg-block bg-gray-800 text-white collapse" data-simplebar>
        <div class="sidebar-inner px-4 pt-3">
        <div
            class="user-card d-flex d-md-none align-items-center justify-content-between justify-content-md-center pb-4">
            <div class="d-flex align-items-center">
            <div class="avatar-lg me-4">
                <img src="/images/team/profile-picture-3.jpg"
                class="card-img-top rounded-circle border-white"
                alt="Bonnie Green">
            </div>
            <div class="d-block">
                <h2 class="h5 mb-3">Hi, Jane</h2>
                <a href="../../pages/examples/sign-in.html"
                class="btn btn-secondary btn-sm d-inline-flex align-items-center">
                <svg class="icon icon-xxs me-1" fill="none" stroke="currentColor"
                    viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round"
                    stroke-width="2"
                    d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1">
                    </path>
                </svg>
                Sign Out
                </a>
            </div>
            </div>
            <div class="collapse-close d-md-none">
            <a href="#sidebarMenu" data-bs-toggle="collapse"
                data-bs-target="#sidebarMenu" aria-controls="sidebarMenu"
                aria-expanded="true" aria-label="Toggle navigation">
                <svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path>
                </svg>
            </a>
            </div>
        </div>
        <ul class="nav flex-column pt-3 pt-md-0">
            <li class="nav-item">
                <router-link tag="a" to="/admin" class="nav-link d-flex align-items-center">
                    <span class="sidebar-icon">
                    <img src="/images/brand/light.svg" height="20" width="20"
                        alt="Volt Logo">
                    </span>
                    <span class="mt-1 ms-1 sidebar-text">Volt Manager</span>
                </router-link>
            </li>
            <li class="nav-item">
                <router-link tag="a" to="/admin/events" class="nav-link">
                    <span class="sidebar-icon">
                        <i class='bx bx-calendar-event'></i> 
                    </span>
                    <span class="sidebar-text">Sự kiện</span>
                </router-link>
            </li>
            <!-- <li class="nav-item">
                <a href="../pages/messages.html" class="nav-link d-flex align-items-center justify-content-between">
                    <span>
                        <span class="sidebar-icon"><svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M8.707 7.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l2-2a1 1 0 00-1.414-1.414L11 7.586V3a1 1 0 10-2 0v4.586l-.293-.293z"></path><path d="M3 5a2 2 0 012-2h1a1 1 0 010 2H5v7h2l1 2h4l1-2h2V5h-1a1 1 0 110-2h1a2 2 0 012 2v10a2 2 0 01-2 2H5a2 2 0 01-2-2V5z"></path></svg> </span><span class="sidebar-text">Messages</span> 
                    </span>
                    <span class="badge badge-sm bg-danger badge-pill notification-count">4</span>
                </a>
            </li>
            <li class="nav-item">
                <span
                class="nav-link  collapsed  d-flex justify-content-between align-items-center"
                data-bs-toggle="collapse" data-bs-target="#submenu-app">
                <span>
                    <span class="sidebar-icon">
                    <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5 4a3 3 0 00-3 3v6a3 3 0 003 3h10a3 3 0 003-3V7a3 3 0 00-3-3H5zm-1 9v-1h5v2H5a1 1 0 01-1-1zm7 1h4a1 1 0 001-1v-1h-5v2zm0-4h5V8h-5v2zM9 8H4v2h5V8z" clip-rule="evenodd"></path></svg>
                    </span> 
                    <span class="sidebar-text">Tables</span>
                </span>
                <span class="link-arrow">
                    <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                </span>
                </span>
                <div class="multi-level collapse "
                role="list" id="submenu-app" aria-expanded="false">
                <ul class="flex-column nav">
                    <li class="nav-item ">
                    <a class="nav-link" href="../../pages/tables/bootstrap-tables.html">
                        <span class="sidebar-text">Bootstrap Tables</span>
                    </a>
                    </li>
                </ul>
                </div>
            </li> -->
            
        </ul>
        </div>
    </nav>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>