<template>
<div>
    <HomePage />
</div>
</template>

<script>
import { HomePage } from './components'
import './import_frontend'
export default {
  components: {
    HomePage,
  },
  data() {
    return {
    }
  },
}
</script>

<style scoped>

</style>
