<template>
    <div>
        <Header :infoUser="infoUser"></Header>
        <section class="container" id="contact">
            <div class="row">
                <div class="col-lg-8">
                    <div class="contact-main">
                        <h2 class="title-contact font-title-page title-main-page">Contact</h2>
                        <div class="introduce-us">
                            <img src="/images/contact.jpg" alt="">
                            <p class="short-desc">Chúng tôi thích du lịch và mọi thứ liên quan đến nó - đồ ăn, trải nghiệm, điểm tham quan, nhiếp ảnh, đồ du lịch… mọi thứ!<br> Nếu bạn quan tâm đến việc hợp tác với chúng tôi hoặc muốn bộ phương tiện đầy đủ của chúng tôi (* số liệu thống kê chính ở bên dưới), vui lòng gửi cho chúng tôi một dòng tại địa chỉ email (hoặc sử dụng biểu mẫu liên hệ) bên dưới:</p>
                            <img src="/images/contact2.jpg" alt="">
                        </div>

                        <div class="contact-form ">
                            <h2 class="font-title-page text-uppercase text-white">contact form:</h2>
                            <form action="#">
                                <div class="form-group ">
                                    <label for="#">Your name <span>(required)</span></label>
                                    <input class="input-border" type="text">
                                </div>
                                <div class="form-group">
                                    <label for="#">Your email <span>(required)</span></label>
                                    <input class="input-border" type="text">
                                </div>
                                <div class="form-group">
                                    <label for="#">Subject <span>(required)</span></label>
                                    <input class="input-border" type="text">
                                </div>
                                <div class="form-group d-grid">
                                    <label for="#">Your message <span>(required)</span></label>
                                    <textarea class="input-border" name="" id="" cols="auto" rows="10"></textarea>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <Search></Search>
                </div>
            </div>
        </section>
        <SocialMisc :infoUser="infoUser"></SocialMisc>
        <Footer></Footer>
    </div>

</template>

<script>
import { SocialMisc, Header, Footer, Search } from '../../layouts/layout_component';
export default {
    data() {
        return {
            infoUser: {}
        }
    },
    components: {
        Header,
        Footer,
        Search,
        SocialMisc
    },
    created() {
        if(localStorage.getItem('info_user')) {
            this.infoUser = JSON.parse(localStorage.getItem('info_user'))
        }
    }
}
</script>

<style>

</style>