@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Prata&family=Taviraj:wght@300;400;500;600&display=swap);:root {
    --font-montserrat: "Montserrat", sans-serif;
    --font-taviraj: "Taviraj", serif;
    --font-prata: "Prata", serif;

    /** Color  */
    --title-post-color: #fff;
    --text-color: #000000;
    --text-journals: #070707;
    --text-title-hover-color: #31302e;
    --date-color: #f99e00;
    --des-color: #5b5b5b;
    --color-hover-primary: #e7bd97;

    /** Font Size */
    --font-small: 12px;
    --font-title-post: 26px;
    --font-journals: 18px;
    --font-entry-title: 24px;
    --font-socials: 20px;
    --font-date: 0.75rem;
    --font-desc: 19px;
    --font-siteinfo: 0.875rem;
}

@media screen and (max-width: 320px) {
    :root {
        --font-title-post: 23px;
        --font-journals: 16px;
        --font-entry-title: 22px;
        --font-date: 0.75rem;
        --font-desc: 19px;
        --font-siteinfo: 0.875rem;
    }
}

.font-title-page {
    font-size: 3.875em;
    font-weight: 400;
    text-align: center;
    color: #000000;
}

.border-hover-image {
    position: relative;
    display: block;
    height: 100%;

}
.border-hover-image:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: .2s ease;
}
.border-hover-image:hover:before {
    position: absolute;
    content: '';
    border: 1px solid #fff;
    top: 2%;
    left: 2.4%;
    width: 95%;
    height: 96%;
    opacity: 1;
    visibility: visible;
    background: none;
}

.travel-date, .date-post {
    color: var(--date-color);
    font-family: var(--font-montserrat);
    text-transform: uppercase;
    font-size: var(--font-date);
}
.short-desc {
    font-family: var(--font-taviraj);
    font-weight: 400;
    line-height: 2;
    font-size: 19px;
    color: #5b5b5b;
}

.title-main-page {
    font-family: var(--font-prata);
}

.title-post-hover {
    color:#31302e;
    transition: .2s ease;
}
.title-post-hover:hover {
    color: #5b5b5b;
}

.input-border {
    height: 45px;
    padding-left: 10px;
    border: 1px solid rgb(203, 203, 203);
    outline: none;
    transition: .2s ease;
}
.input-border:hover, .input-border:focus {
    border: 1px solid var(--date-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    padding: 0;
    list-style-type: none;
}
a {
    text-decoration: none;
    color: var(--text-color);
}
img {
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
}

@media (min-width: 1400px) {
    .container {
        max-width: 1140px !important;
    }
}

@media (max-width: 1024px) {
    .font-title-page {
        font-size: 3.5em;
    }
}

@media (max-width:995px){
    .sidebar-search {
        padding-left: 0 !important;
    }
}


