<template>
    <div>
        <Header :infoUser="infoUser"></Header>
        <section class="container" id="detail-event">
            <div class="banner-detail">
                <img :src="getEventItem.avatar" alt="">
                <div class="data-detail-banner">
                    <div class="calendar-event">{{new Date(getEventItem.start_time).getDate()}}</div>
                    <span v-if="today >= new Date(getEventItem.start_time) && today <= new Date(getEventItem.end_time)" class="time-detail">Đang diễn ra</span>
                    <span v-if="today < new Date(getEventItem.start_time)" class="time-detail">Ngày diễn ra {{new Date(getEventItem.start_time).toLocaleDateString('en-US')}}</span>
                    <span v-if="today > new Date(getEventItem.end_time)" class="time-detail">Đã kết thúc</span>
                    <!-- <span class="time-detail">Thứ tư lúc 13:00 - 16:00</span> -->
                    <h3 class="title-event">{{getEventItem.name}}</h3>
                </div>
                <div class="action-event">
                    <a class="btn btn-care">
                      <i class='bx bx-star'></i>
                      Quan tâm
                    </a>
                    <!-- <a href="#" class="btn btn-join">
                        <i class='bx bx-check-circle' ></i>
                        Sẽ tham gia
                    </a> -->
                    <!-- <div class="btn">
                        <i class='bx bx-dots-horizontal-rounded' style="padding-right: 0px;"></i>
                    </div> -->
                </div>
            </div>
            <div class="main-detail">
                <div class="social-event">
                    <h4>Chi tiết</h4>
                    <ul>
                        <!-- <p>
                            <i class='bx bx-group' ></i>
                            766 người đã quan tâm
                        </p> -->
                        <p>
                            <i class='bx bx-flag' ></i>
                            {{getEventItem.organization}}
                        </p>
                        <p>
                            <i class='bx bxs-map' ></i>
                            {{getEventItem.venue}}
                        </p>
                        <p>
                            <i class='bx bx-stopwatch' ></i>
                            Khoảng
                            {{secondsToHms(new Date(getEventItem.end_time) - new Date(getEventItem.start_time))}}
                            <!-- Khoảng 2 giờ -->
                        </p>
                        <!-- <p>
                            <i class='bx bx-globe'></i>
                            Công khai
                        </p> -->
                        <span>{{getEventItem.describe}}
                            <!-- <span class="dots">...</span> -->
                            <!-- <span class="more-content">erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.</span> -->
                        </span>
                        <!-- <span class="btn-readmore">Xem thêm</span> -->
                    </ul>
                </div>
                <div class="address-event">
                    <div v-html="getEventItem.map">
                    </div>
                    <!-- <div>
                        <h4>Sân vận động Mỹ Đình</h4>
                        <p class="sub-address">Nam Từ Liêm, Hà Nội, Việt Nam</p>
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas vitae scel
                            <span class="dots">...</span>
                            <span class="more-content">erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.</span>
                        </span>
                        <span class="btn-readmore">Xem thêm</span>
                    </div> -->
                </div>
            </div>
        </section>
        <SocialMisc :infoUser="infoUser"></SocialMisc>
        <Footer :infoUser="infoUser"></Footer>
    </div>
</template>

<script>
import { mapActions, mapGetters  } from 'vuex'
import { Header, Search, SocialMisc, Footer } from "../../../layouts/layout_component";
export default {
    components: {
        Header,
        Search,
        SocialMisc,
        Footer,
    },
    computed: {
        ...mapGetters(['getEventItem'])
    },
    data() {
        return {
            infoUser: {},
            today: new Date(),
        }
    },
    methods: {
        ...mapActions(['DETAIL_EVENT']),
        secondsToHms(d) {
            d = Number(d);
            var h = Math.floor(d / 3600);
            var m = Math.floor(d % 3600 / 60);
            var s = Math.floor(d % 3600 % 60);

            var hDisplay = h > 0 ? h + (h == 1 ? " giờ, " : " giờ, ") : "";
            var mDisplay = m > 0 ? m + (m == 1 ? " phút, " : " phút, ") : "";
            var sDisplay = s > 0 ? s + (s == 1 ? " giây" : " giây") : "";
            return hDisplay + mDisplay + sDisplay; 
        }
    },
    created() {
        if(localStorage.getItem('info_user')) {
        this.infoUser = JSON.parse(localStorage.getItem('info_user'))
        }
        this.DETAIL_EVENT(this.$route.params.event_id);
    },
    mounted() {
        $('.btn-care').on('click', function() {
            $(this).children('.bx-star').toggleClass('bxs-star')
            $(this).toggleClass('active')
        })
        // $('.btn-readmore').on('click', function() {
        //     if($(this).parent().children('span').children('.dots').css('display') === 'none') {
        //         $(this).parent().children('span').children('.dots').css('display', 'inline')

        //         $(this).parent().children('span').children('.dots').next().css('display', 'none')

        //         $(this).text("Xem thêm");
        //     } else {
        //         $(this).parent().children('span').children('.dots').css('display', 'none')

        //         $(this).parent().children('span').children('.dots').next().css('display', 'inline')

        //         $(this).text("Ẩn bớt");
        //     }
        // })
    },
};
</script>
<style scoped>
.more-content {
    display: none;
}
</style>
