<template>
<div>
    <Header :infoUser="infoUser"></Header>
    <section class="container event" id="events">
        <h2 class="font-title-page title-main-page ">Khám phá sự kiện</h2>
        <div class="main-events">
            <div class="list-events">
				<!-- Start event item -->
                <div class="event-item" v-for="item in getEvents" :key="item.id">
					<!-- Dot -->
                    <div class="dot-event">
                        <i class='bx bx-dots-horizontal-rounded'></i>
                    </div>
                    <div class="data-dot-event">
                        <a href="#" class="btn">
                            <i class='bx bx-bookmark'></i>
                            Lưu
                        </a>
                        <a href="#" class="btn">
                            <i class='bx bx-info-square'></i>
                            Báo cáo sự kiện
                        </a>
                    </div>
					<!-- /Dot -->

					<!-- Avatar -->
                    <router-link tag="a" :to="{name: 'DetailEvent', params: { event_id: item.id }}">
                        <img :src="item.avatar" alt="" class="thumb-img-event">
                    </router-link>
					<!-- /Avatar -->

					<!-- Info -->
                    <div class="data-event">
                        <span v-if="today >= new Date(item.start_time) && today <= new Date(item.end_time)" class="time-event happenning-event">Đang diễn ra</span>
                        <span v-if="today < new Date(item.start_time)" class="time-event">Ngày diễn ra {{new Date(item.start_time).toLocaleDateString('en-US')}}</span>
                        <span v-if="today > new Date(item.end_time)" class="time-event happenning-event">Đã kết thúc</span>

                        <h5 class="title-event">
                            <router-link tag="a" :to="{name: 'DetailEvent', params: { event_id: item.id }}" href="#">{{item.name}}</router-link>
                        </h5>
                        <span class="sub-title-event">{{item.venue}}</span>
                        <span class="enjoy-event">
                            32 người quan tâm • 500 người sẽ tham gia
                        </span>
                        <div class="action-event">
                            <a class="btn btn-care">
                                <i class='bx bx-star' style="padding-right:2px"></i>
                                Quan tâm
                            </a>
                            <a href="#" class="btn">
                                <i class='bx bxs-share'></i>
                            </a>
                        </div>
                    </div>
					<!-- /Info -->
                </div>
				<!-- End event item -->
            </div>
        </div>
    </section>
    <SocialMisc :infoUser="infoUser"></SocialMisc>
    <Footer></Footer>
</div>
</template>

<script>
import { mapActions, mapGetters  } from 'vuex'
import {
    Search,
    SocialMisc,
    Footer,
    Header,
} from '../../../layouts/layout_component'
export default {
    components: {
        Search,
        SocialMisc,
        Footer,
        Header,
    },
	computed: {
		...mapGetters (['getEvents']),
	},
    data() {
        return {
            infoUser: {},
            today: new Date(),
        }
    },
	methods: {
		...mapActions(['LIST_EVENTS'])
	},
    created() {
        if (localStorage.getItem('info_user')) {
            this.infoUser = JSON.parse(localStorage.getItem('info_user'))
        }
        this.LIST_EVENTS();
    },
    mounted() {
       $('.btn-care').on('click', function() {
            $(this).children('.bx-star').toggleClass('bxs-star')
            $(this).toggleClass('active')
            console.log(123);
        })
        $('.dot-event').on('click', function () {
            $(this).next().toggleClass('active')
        })

    }
}
</script>

<style>

</style>
