<template>
<div>
    <Header :infoUser="infoUser"></Header>
    <section class="container" id="home">
      <div class="row">
        <div class="grid-popular">
          <div class="content-post">
            <a class="bg-image-post d-block" href="#" style="background-image: url('/images/home1.jpg')">
            </a>
            <h2 class="title-main-page">
              <a href="#">12 hòn đảo tuyệt vời nhất để đến thăm ở Cyclades, Hy Lạp</a>
            </h2>
          </div>
          <div class="content-post">
            <a class="bg-image-post d-block" href="#" style="background-image: url('/images/home2.jpg')">
            </a>
            <h2 class="title-main-page">
              <a href="#">12 điều tuyệt vời nhất nên làm ở Albany, New York</a>
            </h2>
          </div>
          <div class="content-post">
            <a class="bg-image-post d-block" href="#" style="background-image: url('/images/home3.jpg')">
            </a>
            <h2 class="title-main-page">
              <a href="#">14 điều tuyệt vời nhất nên làm ở Zakynthos, Hy Lạp</a>
            </h2>
          </div>
          <div class="content-post">
            <a class="bg-image-post d-block" href="#" style="background-image: url('/images/home4.jpg')">
            </a>
            <h2 class="title-main-page">
              <a href="#">11 điều tuyệt vời nhất nên làm ở thành phố Atlantic, New Jersey</a>
            </h2>
          </div>
          <div class="content-post">
            <a class="bg-image-post d-block" href="#" style="background-image: url('/images/home5.jpg')">
            </a>
            <h2 class="title-main-page">
              <a href="#">14 địa điểm tuyệt vời nhất trong chuyến đi đường lớn ở California</a>
            </h2>
          </div>
          <div class="content-post">
            <a class="bg-image-post d-block" href="#" style="background-image: url('/images/home6.jpg')">
            </a>
            <h2 class="title-main-page">
              <a href="#">14 địa điểm tuyệt vời nhất trong chuyến đi đường lớn ở California</a>
            </h2>
          </div>
          <div class="content-post">
            <a class="bg-image-post d-block" href="#" style="background-image: url('/images/home7.jpg')">
            </a>
            <h2 class="title-main-page">
              <a href="#">14 địa điểm tuyệt vời nhất trong chuyến đi đường lớn ở California</a>
            </h2>
          </div>
        </div>
        <div class="col-lg-8 home-main">
          <div class="main-post">
            <div class="travel-journals">
              <h4 class="line-travel title-main-page">
                <span>Tạp chí du lịch mới nhất</span>
              </h4>
              <div class="travel-post">
                <div>
                  <a href="#"  class="border-hover-image">
                    <img src="/images/home9.jpg" alt="">
                  </a>
                </div>
                <div>
                  <h3 class="title-travel-post title-main-page ">
                    <a href="#" class="title-post-hover">Khám phá Baden-Baden Và…</a>
                  </h3>
                  <div class="travel-date">
                    <span>May 19, 2022</span>
                  </div>
                  <span class="short-desc">
                    Sáng hôm sau, chúng tôi quyết định bù đắp thời gian đã mất bằng cách dậy sớm và sáng để khám phá…                   
                  </span>
                  <div class="box-btn">
                    <a href="#" class="btn-travel">Tiếp tục đọc</a>
                  </div>
                  </div>
              </div>
              <div class="travel-post">
                <div>
                  <a class="border-hover-image" href="#" >
                    <img src="/images/home10.jpg" alt="">
                  </a>
                </div>
                <div>
                  <h3 class="title-travel-post title-main-page title-main-page">
                    <a href="#" class="title-post-hover">Khám phá Baden-Baden Và…</a>
                  </h3>
                  <div class="travel-date">
                    <span>May 19, 2022</span>
                  </div>
                  <span class="short-desc">
                    Sáng hôm sau, chúng tôi quyết định bù đắp thời gian đã mất bằng cách dậy sớm và sáng để khám phá…                   
                  </span>
                  <div class="box-btn">
                    <a href="#" class="btn-travel">tiếp tục đọc</a>
                  </div>
                </div>
              </div>
              <div class="travel-post">
                <div>
                  <a class="border-hover-image" href="#">
                    <img src="/images/home8.jpg" alt="">
                  </a>
                </div>
                <div>
                  <h3 class="title-travel-post title-main-page">
                    <a href="#" class="title-post-hover">Khám phá Baden-Baden Và…</a>
                  </h3>
                  <div class="travel-date">
                    <span>May 19, 2022</span>
                  </div>
                  <span class="short-desc">
                    Sáng hôm sau, chúng tôi quyết định bù đắp thời gian đã mất bằng cách dậy sớm và sáng để khám phá…                   
                  </span>
                  <div class="box-btn">
                    <a href="#" class="btn-travel">Tiếp tục đọc</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4" id="sidebar-home">
          <Search></Search>
        </div>
        <div class="read-more-post">
          <div class="img">
            <a href="#" class="border-hover-image">
              <img src="/images/home12.jpg" alt="">
            </a>
          </div>
          <div class="box-content-read-more">
            <div>
              <span class="cate-post-read-more date-post pt-2 d-inline-block">
                thực phẩm, du lịch, tư vấn du lịch
              </span>
              <h3 class="title title-main-page">
                <a href="#" class="title-post-hover">8 nhà hàng tốt nhất tại Niagara-on-the-Lake</a>
              </h3>
              <span class="date-post">
                may 19,2002
              </span>
            </div>
            <div>
              <p class="short-desc">
                Như bạn có thể nói bây giờ, tôi khá thích Niagara-on-the-Lake, tôi rất thích đến thăm. Đó là một trong những thị trấn nhỏ quyến rũ mà bạn có thể ghé thăm nhiều lần và vẫn chỉ muốn xem thêm. Tôi thực sự nghĩ rằng đó là một ứng cử viên cho một trong những thị trấn Canada đẹp nhất ở Ontario, chắc chắn! Ồ, và trên hết, có một lựa chọn khá phong phú về các nhà hàng tốt nhất ở Niagara-on-the-Lake sẽ khiến bạn hoàn toàn bị nhồi nhét. Tôi nghiêm túc đấy, Hãy chắc chắn rằng bạn chuẩn bị một số quần và yếm co giãn, bạn sẽ vượt qua được. Dù sao, sau chuyến thăm của chúng tôi, tôi muốn chia sẻ một số nhà hàng tốt nhất ở Niagara-on-the-Lake mà tôi nghĩ bạn sẽ thích. Mỗi…
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <SocialMisc :infoUser="infoUser"></SocialMisc>
    <Footer></Footer>
</div>

</template>

<script>
import {
  Search,
  SocialMisc,
  Footer,
  Header,
} from '../../../layouts/layout_component'
export default {
  components: {
    Search,
    SocialMisc,
    Footer,
    Header,
  },
  data() {
    return {
      infoUser: {}
    }
  },
  created() {
    if(localStorage.getItem('info_user')) {
      this.infoUser = JSON.parse(localStorage.getItem('info_user'))
    }
  }
}
</script>

<style></style>
