<template>
  <div>
      <!-- Section -->
        <section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
            <div class="container">
                <p class="text-center">
                    <router-link tag="a" :to="{name: 'Home'}" class="d-flex align-items-center justify-content-center">
                        <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd"></path></svg>
                        Trang chủ
                    </router-link>
                </p>
                <div class="row justify-content-center form-bg-image" style="background: url('/images/illustrations/signin.svg')">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="bg-white shadow border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-500" id="form-login">
                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <h1 class="mb-0 h3">Đăng Nhập </h1>
                            </div>
                            <form action="#" class="mt-4 needs-validation" novalidate @submit.prevent="redirectLogin(LOGIN_USER(formLogin))">
                                <!-- Form -->
                                <div class="form-group mb-4">
                                    <label for="email">Email của bạn</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1">
                                            <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path><path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path></svg>
                                        </span>
                                        <input type="email" name="email" class="form-control" :class="{'valid-inp':getValidInputLogin.email}" placeholder="tenemail@email.com" v-model="formLogin.email" id="email" autofocus required>
                                        <div v-if="getAlertValidateLogin.email !== ''" class="invalid-feedback">{{getAlertValidateLogin.email}}</div>
                                        <div v-else class="valid-feedback">Email hợp lệ.</div>
                                    </div>  
                                </div>
                                <!-- End of Form -->
                                <div class="form-group">
                                    <!-- Form -->
                                    <div class="form-group mb-4">
                                        <label for="password">Mật khẩu của bạn</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon2">
                                                <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd"></path></svg>
                                            </span>
                                            <input type="password" :class="{'valid-inp':getValidInputLogin.password}" placeholder="Mật khẩu" class="form-control" name="password" v-model="formLogin.password" id="password"  required>
                                            <div v-if="getAlertValidateLogin.password !== ''" class="invalid-feedback">{{getAlertValidateLogin.password}}</div>
                                            <div v-else class="valid-feedback">Mật khẩu hợp lệ.</div>

                                        </div>  
                                    </div>
                                    <!-- End of Form -->
                                    <div class="d-flex justify-content-between align-items-top mb-4">
                                        <!-- <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="remember">
                                            <label class="form-check-label mb-0" for="remember">
                                                Lưu đăng nhập
                                            </label>
                                        </div> -->
                                        <div><router-link tag="a" :to="{name: 'ForgotPassword'}" class="small text-right">Quên mật khẩu?</router-link></div>
                                    </div>
                                </div>
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-gray-800" >Đăng nhập</button>
                                </div>
                            </form>
                            <div class="d-flex justify-content-center align-items-center mt-4">
                                <span class="fw-normal">
                                    Chưa đăng ký?
                                    <router-link tag="a" :to="{name: 'Register'}" class="fw-bold">Tạo tài khoản</router-link>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div id="modal-login"></div>
        <div id="modal-login-invalid"></div>
  </div>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex'
export default {
    data() {
        return {
            formLogin: {
                email: '',
                password: ''
            },
        }
    },
    computed: {
        ...mapGetters(['getName', 'getRole', 'getAllowed', 'getAlertValidateLogin', 'getValidInputLogin'])
    },
    methods: {
        ...mapActions(['LOGIN_USER']),
        ...mapMutations(['setAlertValidateLogin']),
        
        redirectLogin(func) {
            func
                .then(() => {
                    if(localStorage.getItem('role_user') == '1' && this.$store.getters.getAllowed) {
                        this.$router.push('/admin')
                    }else {
                        if(this.$store.getters.getAllowed) {
                            this.$router.push('/')
                        }
                    }
                    
                })
                .catch(() => {
                    
                })
        }
    }
}
</script>

<style>
#form-login {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
}
    .form-control.valid-inp:invalid  {
        border-color: #E11D48 !important;
        padding-right: calc(1.5em + 1rem) !important;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23E11D48' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23E11D48' stroke='none'/%3e%3c/svg%3e");
        background-repeat: no-repeat !important;
        background-position: right calc(0.375em + 0.25rem) center !important;
        background-size: calc(0.75em + 0.5rem) calc(0.75em + 0.5rem) !important;
    }
    .form-control.valid-inp:valid  {
        border-color: #E11D48 !important;
        padding-right: calc(1.5em + 1rem) !important;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23E11D48' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23E11D48' stroke='none'/%3e%3c/svg%3e");
        background-repeat: no-repeat !important;
        background-position: right calc(0.375em + 0.25rem) center !important;
        background-size: calc(0.75em + 0.5rem) calc(0.75em + 0.5rem) !important;
    }
    .form-control.valid-inp:invalid + .invalid-feedback,
    .form-control.valid-inp:valid + .invalid-feedback{
        display: block;
    }
    @media (min-width: 992px){
        .p-lg-5 {
            padding: 1.5rem !important;
        }
    }
</style>