<template>
<div>
    <Sidebar></Sidebar>
    <main class="content">
        <UserSearch></UserSearch>
        <form @submit.prevent="ADD_EVENT(formData)">
            <div>
                <label for="txtName" class="form-label">Tiêu đề</label>
                <input type="text" v-model="formData.name" class="form-control" id="txtName">
            </div>
            <div class="pb-2 alert-validate-add-form">
                <span class="text-danger" v-if="getValidateAddForm.name !== ''">{{getValidateAddForm.name}}</span>
            </div>

            <div>
                <label for="txtAvatar" class="form-label">Ảnh đại diện (Nhúng link online)</label>
                <input type="text" v-model="formData.avatar" class="form-control" id="txtAvatar">
            </div>
            <div class="pb-2 alert-validate-add-form">
                <span class="text-danger" v-if="getValidateAddForm.avatar !== ''">{{getValidateAddForm.avatar}}</span>
            </div>

            <div>
                <label for="txtDescribe" class="form-label">Mô tả</label>
                <input type="text" v-model="formData.describe" class="form-control" id="txtDescribe">
            </div>
            <div class="pb-2 alert-validate-add-form">
                <span class="text-danger" v-if="getValidateAddForm.describe !== ''">{{getValidateAddForm.describe}}</span>
            </div>

            <div>
                <label for="txtVenue" class="form-label">Địa điểm</label>
                <input type="text" v-model="formData.venue" class="form-control" id="txtVenue">
            </div>
            <div class="pb-2 alert-validate-add-form">
                <span class="text-danger" v-if="getValidateAddForm.venue !== ''">{{getValidateAddForm.venue}}</span>
            </div>

            <div>
                <label for="txtStartTime" class="form-label">Thời gian bắt đầu</label>
                <input type="datetime-local" v-model="formData.start_time" class="form-control" id="txtStartTime">
            </div>
            <div class="pb-2 alert-validate-add-form">
                <span class="text-danger" v-if="getValidateAddForm.start_time !== ''">{{getValidateAddForm.start_time}}</span>
            </div>

            <div>
                <label for="txtEndTime" class="form-label">Thời gian kết thúc</label>
                <input type="datetime-local" v-model="formData.end_time" class="form-control" id="txtEndTime">
            </div>
            <div class="pb-2 alert-validate-add-form">
                <span class="text-danger" v-if="getValidateAddForm.end_time !== ''">{{getValidateAddForm.end_time}}</span>
            </div>

            <div>
                <label for="txtMap" class="form-label">Iframe "Google Map"</label>
                <input type="text" v-model="formData.map" class="form-control" id="txtMap">
            </div>
            <div class="pb-2 alert-validate-add-form">
                <span class="text-danger" v-if="getValidateAddForm.map !== ''">{{getValidateAddForm.map}}</span>
            </div>

            <div>
                <label for="txtOrganization" class="form-label">Nhà tổ chức</label>
                <input type="text" v-model="formData.organization" class="form-control" id="txtOrganization">
            </div>
            <div class="pb-2 alert-validate-add-form">
                <span class="text-danger" v-if="getValidateAddForm.organization !== ''">{{getValidateAddForm.organization}}</span>
            </div>
            
            <button type="submit" class="btn btn-primary">Đăng sự kiện</button>
        </form>
    </main>
</div>
</template>

<script>
import { mapActions, mapGetters  } from 'vuex'
import {
    UserSearch,
    Sidebar
} from '../../../layouts/layout_component'
export default {
    components: {
        Sidebar,
        UserSearch
    },
    data() {
        return {
            formData: {
                name: null,
                avatar: null,
                describe: null,
                venue: null,
                start_time: null,
                end_time: null,
                map: null,
                organization: null,
            }
        }
    },
    computed: {
        ...mapGetters(['getValidateAddForm'])
    },
    methods: {
		...mapActions(['ADD_EVENT']),
        // handleAddEvent()
        // {
        //     this.ADD_EVENT(this.formData)
        //         .then(() => {
        //             this.$router.push({name: 'EventsAdmin'});
        //         })
        //         .catch((e) => {
        //             console.log(e);
        //         });
        // }
    }
}
</script>

<style>

</style>
