<template>
<div>
    <Sidebar></Sidebar>
    <main class="content">
        <UserSearch></UserSearch>
        <form @submit.prevent="handleAddEvent">
            <div class="mb-3">
                <label for="txtName" class="form-label">Tiêu đề</label>
                <input type="text" v-model="formData.name"  class="form-control" id="txtName">
            </div>
            <div class="mb-3">
                <label for="txtAvatar" class="form-label">Ảnh đại diện</label>
                <input type="text" v-model="formData.avatar" class="form-control" id="txtAvatar">
            </div>
            <div class="mb-3">
                <label for="txtDescribe" class="form-label">Mô tả</label>
                <input type="text" v-model="formData.describe" class="form-control" id="txtDescribe">
            </div>
            <div class="mb-3">
                <label for="txtVenue" class="form-label">Địa điểm</label>
                <input type="text" v-model="formData.venue" class="form-control" id="txtVenue">
            </div>
            <div class="mb-3">
                <label for="txtStartTime" class="form-label">Thời gian bắt đầu</label>
                <input type="datetime-local" v-model="formData.start_time" class="form-control" id="txtStartTime">
            </div>
            <div class="mb-3">
                <label for="txtEndTime" class="form-label">Thời gian kết thúc</label>
                <input type="datetime-local" v-model="formData.end_time" class="form-control" id="txtEndTime">
            </div>
            <div class="mb-3">
                <label for="txtMap" class="form-label">Iframe "Google Map"</label>
                <input type="text" v-model="formData.map" class="form-control" id="txtMap">
            </div>
            <div class="mb-3">
                <label for="txtOrganization" class="form-label">Nhà tổ chức</label>
                <input type="text" v-model="formData.organization" class="form-control" id="txtOrganization">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </main>
</div>
</template>

<script>
import {
    mapActions,
    mapGetters
} from 'vuex'
import {
    UserSearch,
    Sidebar
} from '../../../layouts/layout_component'
export default {
    components: {
        Sidebar,
        UserSearch
    },
    computed: {
        ...mapGetters(['getEventItem'])
    },
    data() {
        const _this = this;
        console.log(_this.$store.getters.getEventItem);
        return {
            formData: {
                name: null,
                avatar: null,
                describe: null,
                venue: null,
                start_time: null,
                end_time: null,
                map: null,
                organization: null,
            }
        }
    },
    methods: {
        ...mapActions(['ADD_EVENT', 'DETAIL_EVENT']),
        handleAddEvent() {
            this.ADD_EVENT(this.formData)
                .then(() => {
                    this.$router.push({
                        name: 'EventsAdmin'
                    });
                })
                .catch((e) => {
                    console.log(e);
                });
        }
    },
    created() {
        this.DETAIL_EVENT(this.$route.params.event_id);
    },
    mounted() {
        console.log(this.$route.params.event_id);
    }
}
</script>

<style>

</style>
