<template>
  <div id="footer" class="pt-4 pb-4">
      <div class="container container-footer">
          <div class="logo-footer">
              <a href="#">
                  <img src="/images/logo.png" alt="" class="image-footer">
              </a>
          </div>

          <div class="nav-footer">
              <ul class="list-nav-footer">
                  <li class="item-nav-footer">
                      <router-link tag="a" :to="{name: 'Home'}" class="link-nav-footer">Trang chủ</router-link>
                    </li>
                  <li class="item-nav-footer">
                      <router-link tag="a" :to="{name: 'Events'}" class="link-nav-footer">Sự kiện</router-link>
                    </li>
                  <li class="item-nav-footer">
                      <router-link tag="a" :to="{name: 'Contact'}" class="link-nav-footer">Liên hệ</router-link>
                  </li>
              </ul>
          </div>
          <div class="siteinfo">
              <p>Copyright © Review Ba Mien. Đã đăng ký bản quyền.</p>
          </div>
          <a href="#" class="scroll-up-footer">
            <i class='bx bx-up-arrow-alt'></i>
            <i class='bx bx-up-arrow-alt arrow-last'></i>
          </a>
      </div>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>