<template>
    <div class="header">
        <div class="header__bg-img">
            <img src="/images/logo.png" alt="" />
        </div>
        <div class="header_reponsive">
            <div class="open-navbar" @click="openNavbar">
                <i class="bx bx-menu"></i>
            </div>
            <div class="tool-box">
                <a class="user-icon" @click="showMoreUser">
                    <i
                        class="bx bx-user-circle"
                        style="cursor: pointer; margin-right: 5px"
                    ></i>
                </a>
                <div class="more-user">
                    <div v-if="isLogin">
                        <a
                            href="#"
                            class="link-more-user"
                            data-bs-toggle="modal"
                            data-bs-target="#detailUser"
                        >
                            <i class="bx bxs-user-detail"></i>
                            Chi tiết
                        </a>
                        <a href="#" class="link-more-user">
                            <i class="bx bxs-envelope"></i>
                            Tin nhắn
                        </a>
                        <a
                            href="#"
                            @click.prevent="LOGOUT_USER"
                            class="link-more-user"
                        >
                            <i class="bx bx-log-out"></i>
                            Đăng xuất
                        </a>
                    </div>
                    <div v-else>
                        <router-link
                            tag="a"
                            :to="{ name: 'Login' }"
                            class="link-more-user"
                        >
                            <i class="bx bx-log-in"></i>
                            Đăng nhập
                        </router-link>
                        <router-link
                            tag="a"
                            :to="{ name: 'Register' }"
                            class="link-more-user"
                        >
                            <i class="bx bxs-user-plus"></i>
                            Đăng ký
                        </router-link>
                    </div>
                </div>
                <i
                    class="bx bx-envelope"
                    @click="activeFormSubscribeMisc"
                    style="cursor: pointer; margin-right: 5px"
                ></i>
                <i
                    class="bx bx-search"
                    @click="activeFormSearchMisc"
                    style="cursor: pointer"
                ></i>
            </div>
        </div>
        <div class="header__nav">
            <div class="nav-logo">
                <img src="/images/logo.png" alt="" />
            </div>

            <ul class="nav-content">
                <div class="close-navbar" @click="closeNavbar">
                    <i class="bx bx-x"></i>
                </div>
                <li class="nav-item-header">
                    <router-link
                        tag="a"
                        class="nav-link-header nav-link text-uppercase"
                        :to="{ name: 'Home' }"
                        >trang chủ</router-link
                    >
                </li>
                <li class="nav-item-header">
                    <router-link
                        tag="a"
                        class="nav-link-header nav-link text-uppercase"
                        :to="{ name: 'Events' }"
                        >sự kiện</router-link
                    >
                </li>
                <!-- <li class="nav-item-header">
                    <a class="nav-link-header nav-link text-uppercase" href="#"
                        >du lịch</a
                    >
                    <div class="btn-dropdown">
                        <i class="bx bx-chevron-down"></i>
                    </div>
                    <ul class="dropdown-nav">
                        <li>
                            <a
                                class="dropdown-nav-item text-nowrap text-uppercase"
                                href="#"
                                >miền bắc</a
                            >
                        </li>
                        <li>
                            <a
                                class="dropdown-nav-item text-nowrap text-uppercase"
                                href="#"
                                >miền trung</a
                            >
                        </li>
                        <li>
                            <a
                                class="dropdown-nav-item text-nowrap text-uppercase"
                                href="#"
                                >miền nam</a
                            >
                        </li>
                    </ul>
                </li>
                <li class="nav-item-header">
                    <a class="nav-link-header nav-link text-uppercase" href="#"
                        >ẩm thực</a
                    >
                    <div class="btn-dropdown">
                        <i class="bx bx-chevron-down"></i>
                    </div>
                    <ul class="dropdown-nav">
                        <li>
                            <a
                                class="dropdown-nav-item text-nowrap text-uppercase"
                                href="#"
                                >miền bắc</a
                            >
                        </li>
                        <li>
                            <a
                                class="dropdown-nav-item text-nowrap text-uppercase"
                                href="#"
                                >miền trung</a
                            >
                        </li>
                        <li>
                            <a
                                class="dropdown-nav-item text-nowrap text-uppercase"
                                href="#"
                                >miền nam</a
                            >
                        </li>
                    </ul>
                </li> -->
                <li class="nav-item-header">
                    <router-link
                        tag="a"
                        class="nav-link-header nav-link text-uppercase"
                        :to="{ name: 'Contact' }"
                        >liên hệ</router-link
                    >
                </li>
            </ul>

            <a href="#" class="scroll-up-header">
                <i class="bx bx-up-arrow-alt"></i>
                <i class="bx bx-up-arrow-alt arrow-last"></i>
            </a>
        </div>

        <!-- Chi tiết user  -->
        <!-- Modal -->
        <div
            class="modal fade"
            id="detailUser"
            tabindex="-1"
            aria-labelledby="detailUserLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="detailUserLabel">
                            Chi tiết người dùng
                        </h5>
                        <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                        ></button>
                    </div>
                    <div class="modal-body modal-detail-user">
                        <span class="d-flex flex-column"
                            >Tên:
                            <div>
                                <input
                                    type="text"
                                    class="input-detail"
                                    :value="infoUser.name"
                                />
                                <i class="bx bx-edit-alt"></i>
                            </div>
                        </span>
                        <span class="d-flex flex-column"
                            >Email:
                            <div>
                                <input
                                    type="text"
                                    :value="infoUser.email"
                                    class="input-detail"
                                />
                                <i class="bx bx-edit-alt"></i>
                            </div>
                        </span>
                        <span
                            >Thời gian tạo: {{ infoUser.created_at }}
                        </span>
                    </div>
                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                        >
                            Close
                        </button>
                        <button type="button" class="btn btn-primary">
                            Save changes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
    props: ['infoUser'],
    data() {
        return {
            isLogin: false,
        };
    },
    computed: {
    },
    created() {
        $(window).on("scroll", this.handleScroll);
        if (localStorage.getItem("token_login")) {
            this.isLogin = true;
        }
    },
    destroyed() {
        $(window).off("scroll", this.handleScroll);
    },
    mounted() {
        $(document).ready(function () {
            $(".nav-link-header").click(function () {
                $(this).next().next().toggleClass("active");
            });
        });
    },
    methods: {
        handleScroll(event) {
            const y = window.scrollY;
            if (y >= 215) {
                $(".header__nav").addClass("fixed");
            } else {
                $(".header__nav").removeClass("fixed");
            }

            $(".header__bg-img").css("opacity", 1 / (y > 1 ? y : 1));
        },
        openNavbar() {
            $(".nav-content").addClass("show");
        },
        closeNavbar() {
            $(".nav-content").removeClass("show");
        },
        activeFormSearchMisc() {
            if ($("#search-misc-container").hasClass("active")) {
                $("#search-misc-container").removeClass("active");
            } else {
                $("#search-misc-container").addClass("active");
            }
        },
        removeActiveFormSearchMisc() {
            $("#search-misc-container").removeClass("active");
        },
        activeFormSubscribeMisc() {
            if ($(".subscribe-misc-container").hasClass("active")) {
                $(".subscribe-misc-container").remove("active");
            } else {
                $(".subscribe-misc-container").addClass("active");
            }
            $(".subscribe-misc-container").removeClass("activeTransY");
        },
        activeRemoveFormSubscribeMisc() {
            $(".subscribe-misc-container").removeClass("active");
            if ($(".subscribe-misc-container").hasClass("activeTransY")) {
                $(".subscribe-misc-container").addClass("activeTransY");
            } else {
                $(".subscribe-misc-container").remove("activeTransY");
            }
        },
        showMoreUser() {
            $(".more-user").toggleClass("active");
        },
        ...mapActions(["LOGOUT_USER"]),
    },
};
</script>

<style></style>
