<template>
    <div class="sidebar-search">
        <div class="header-search">
            <h4 class="line-center title-main-page">
                <span>Đang tìm kiếm thứ gì đó?</span>
            </h4>
            <input type="text" placeholder="Tìm kiếm..." />
        </div>
        <div class="social-search">
            <h4 class="line-center title-main-page">
                <span>Kết nối tới du khách</span>
            </h4>
            <ul class="list-social-search">
                <a href="#" class="item-social-search">
                    <i class='bx bxl-facebook'></i>
                    <span>0</span>
                    <small>Facebook</small>
                </a>
                <a href="#" class="item-social-search">
                    <i class='bx bxl-pinterest' ></i>
                    <span>500k</span>
                    <small>Pinterest</small>
                </a>
                <a href="#" class="item-social-search">
                    <i class='bx bxl-tiktok'></i>
                    <span>915,289</span>
                    <small>TikTok</small>
                </a>
                <a href="#" class="item-social-search">
                    <i class='bx bxl-instagram' ></i>
                    <small>Instagram</small>
                </a>
                <a href="#" class="item-social-search">
                    <i class='bx bxl-twitter' ></i>
                    <span>40,521</span>
                    <small>Twitter</small>
                </a>
                <a href="#" class="item-social-search">
                    <i class='bx bxs-envelope' ></i>
                    <span>86,141</span>
                    <small>Email đăng ký</small>
                </a>
            </ul>
        </div>
        <!-- <div class="adventure-await">
            <h4 class="line-center">
                <span>Cuộc phiêu lưu đang chờ đợi!</span>
            </h4>
            <img src="/images/adventure.jpg" alt="">
        </div> -->
        <!-- <div class="about-us-sidebar">
            <h4 class="line-center">
                <span>Giới thiệu</span>
            </h4>
            <img src="/images/about.jpg" alt="">
        </div> -->
        <div class="unread-post">
            <h4 class="line-center title-main-page">
                <span>Có thể bạn chưa xem?</span>
            </h4>
            <ul class="list-unread">
                <li class="item-unread">
                    <h3 class="title-main-page">
                        <a href="#">Chuyến đi trong ngày đến Providence, Rhode Island</a>
                    </h3>
                    <a href="#">
                        <img src="https://nvl1gttni2-flywheel.netdna-ssl.com/wp-content/uploads/2015/01/466633_10150938441419784_1215619293_o-115x115.jpg" alt="">
                    </a>
                </li>
                <li class="item-unread">
                    <h3 class="title-main-page">
                        <a href="#">Chuyến đi trong ngày đến Providence, Rhode Island</a>
                    </h3>
                    <a href="#">
                        <img src="https://nvl1gttni2-flywheel.netdna-ssl.com/wp-content/uploads/2015/01/466633_10150938441419784_1215619293_o-115x115.jpg" alt="">
                    </a>
                </li>
                <li class="item-unread">
                    <h3 class="title-main-page">
                        <a href="#">Chuyến đi trong ngày đến Providence, Rhode Island</a>
                    </h3>
                    <a href="#">
                        <img src="https://nvl1gttni2-flywheel.netdna-ssl.com/wp-content/uploads/2015/01/466633_10150938441419784_1215619293_o-115x115.jpg" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {};
</script>

<style></style>
