<template>
    <div class="social_misc">
        <div class="socials">    
            <a href="#" class="social-link">
                <i class='bx bxl-facebook'></i>
            </a>
        
        
            <a href="#" class="social-link">
                <i class='bx bxl-twitter'></i>
            </a>
        
        
            <a href="#" class="social-link">
                <i class='bx bxl-instagram' ></i>
            </a>
        
        
            <a href="#" class="social-link">
                <i class='bx bxl-pinterest' ></i>
            </a>
        
        
            <a href="#" class="social-link">
                <i class='bx bxs-heart' ></i>
            </a>
        </div>
        <div class="misc">
            <a href="#" class="link-misc ">lưu trữ</a>

            <span href="#" class="link-misc" @click="activeFormSubscribeMisc">Đăng ký</span>

            <div class="search-misc" id="btn-search-misc" @click="activeFormSearchMisc">
                <span href="#" class="link-misc">tìm kiếm</span>
                <i class='bx bx-search-alt-2'></i>
            </div>
            <div class="tool-box">
                <a class="user-icon-large" @click="showMoreUserLarge">
                    <i class='bx bx-user-circle' style="cursor: pointer; transform: rotate(90deg); font-size: 24px; color: #484848"></i>
                </a>
                <div class="more-user-large">
                    <div v-if="isLogin">
                        <a href="/post" class="link-more-user d-flex align-center"> 
                            <i class='bx bx-book-alt' style="margin-right:.3rem"></i>
                            Bài viết
                        </a>
                        <a href="#" class="link-more-user d-flex align-center" data-bs-toggle="modal" data-bs-target="#detailUser"> 
                            <i class='bx bxs-user-detail' style="margin-right:.3rem"></i>
                            Chi tiết
                        </a>
                        <a href="#" class="link-more-user d-flex align-center"> 
                            <i class='bx bxs-envelope' style="margin-right:.3rem" ></i>
                            Tin nhắn
                        </a>
                        <a href="#"  @click.prevent="LOGOUT_USER" class="link-more-user d-flex align-center">
                            <i class='bx bx-log-out' style="margin-right:.3rem" ></i>
                            Đăng xuất
                        </a>
                    </div>
                    <div v-else>
                        <router-link tag="a" :to="{name: 'Login'}" class="link-more-user d-flex align-center"> 
                            <i class='bx bx-log-in' style="margin-right:.3rem"></i>
                            Đăng nhập
                        </router-link>
                        <router-link tag="a" :to="{name: 'Register'}" class="link-more-user d-flex align-center"> 
                            <i class='bx bxs-user-plus' style="margin-right:.3rem"></i>
                            Đăng ký
                        </router-link>
                    </div>
                </div>
            </div>
        </div>

        <div class="search-misc-container" id="search-misc-container">
            <div class="background-gradient"></div>
            <div class="search-misc-form">
                <input type="text" placeholder="Bạn đang cần tìm kiếm cái gì...">
                <i class='bx bx-x' id="close-search-misc" @click="removeActiveFormSearchMisc"></i>
            </div>
        </div>

        <div class="subscribe-misc-container">
            <div class="background-gradient"></div>
            <div class="subscribe-misc-form">
                <img src="/images/IMG_5930.jpg" alt="">
                <div class="form-main">
                    <form action="">
                        <span>Email address:</span>
                        <input type="email" placeholder="Địa chỉ email của bạn">
                        <button class="btn">Đăng ký </button>
                    </form>
                </div>
                <div class="close-form-subscribe" @click="activeRemoveFormSubscribeMisc">
                    <i class='bx bx-x'></i>
                </div>
            </div>
        </div>

        <!-- Chi tiết user  -->
        <!-- Modal -->
        <div class="modal fade" id="detailUser" tabindex="-1" aria-labelledby="detailUserLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="detailUserLabel">Chi tiết người dùng</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body modal-detail-user">
                    <span class="d-flex flex-column">Tên: 
                        <div>
                            <input type="text" class="input-detail" :value="infoUser.name">
                            <i class='bx bx-edit-alt'></i>
                        </div>
                    </span>
                    <span class="d-flex flex-column">Email:
                        <div>
                            <input type="text" :value="infoUser.email" class="input-detail">
                            <i class='bx bx-edit-alt'></i>
                        </div>
                    </span>
                    <span>Thời gian tạo: {{infoUser.created_at}} </span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    props: ['infoUser'],
    data() {
        return {
            isLogin: false
        }
    },
    computed: {
    },
    created() {
        $(window).on('scroll', this.handleScroll);
        if(localStorage.getItem('token_login')) {
            this.isLogin = true
        }
    },
    methods: {
        activeFormSearchMisc() {
            if($('#search-misc-container').hasClass('active')) {

                $('#search-misc-container').remove('active')
            }else {
                $('#search-misc-container').addClass('active')

            }
        },
        removeActiveFormSearchMisc() {
            $('#search-misc-container').removeClass('active')
        }, 
        activeFormSubscribeMisc() {
            
            if($('.subscribe-misc-container').hasClass('active')) {
                $('.subscribe-misc-container').remove('active')
            }else {
                $('.subscribe-misc-container').addClass('active')
            }
            $('.subscribe-misc-container').removeClass('activeTransY')

        },
        activeRemoveFormSubscribeMisc() {
            $('.subscribe-misc-container').removeClass('active')
            if($('.subscribe-misc-container').hasClass('activeTransY')) {
                $('.subscribe-misc-container').addClass('activeTransY')
            }else {
                $('.subscribe-misc-container').remove('activeTransY')
            }
            
        },
        showMoreUserLarge() {
            $('.more-user-large').toggleClass('active')
        },
        ...mapActions(['LOGOUT_USER'])
    }
}
</script>

<style>

</style>