@import '../app.css';

#contact {
    padding-top: 1.5rem;
    position: relative;
}

#contact .contact-main .introduce-us{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    justify-items: center;
}

#contact .contact-main .introduce-us img:last-of-type {
    width: 315px;
    height: auto;
}
#contact .contact-main .introduce-us p:first-of-type {
    margin-bottom: 0;
}

#contact .contact-main .contact-form  {
    margin: 3rem 0;
}
#contact .contact-main .contact-form h2{
    background: #84C333;
    padding: 15px 10px;
    font-size: 32px;
}
#contact .contact-main .contact-form form {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
    margin-top: 2rem;
    
}
#contact .contact-main .contact-form form .form-group label{
    font-size: 19px;
    color: rgb(86, 86, 86);
    font-family: var(--font-taviraj);
    padding-bottom: 5px;
}
#contact .contact-main .contact-form form .form-group input{
    width: 100%;
}
#contact .contact-main .contact-form form .form-group textarea,
#contact .contact-main .contact-form form .form-group input {
    font-family: var(--font-taviraj);
}
