@import '../app.css';
#detail-event {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
}
#detail-event .banner-detail{
    position: relative;
}

#detail-event .banner-detail img {
    width: 100%;
    height: 450px;
    object-fit:cover;
    margin-bottom: 1.5rem;
}
#detail-event .banner-detail .calendar-event {
    position: absolute;
    width: 70px;
    height: 60px;
    border-radius: 5px;
    background-color: #000000;
    top: -65px;
    left: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-size: var(--font-socials);
}
#detail-event .banner-detail .calendar-event:before {
    position: absolute;
    content: '';
    height: 20px;
    background-color: #F3425F;
    top: -15px;
    left: 0;
    right: 0;
    border-radius: 4px 4px 0 0;
}
#detail-event .banner-detail .data-detail-banner {
    position: relative;
}
#detail-event .banner-detail .time-detail {
    color: red;
    text-transform: uppercase;
    font-weight: 700;
    font-size: var(--font-siteinfo);
}
#detail-event .banner-detail .title-event {
    font-size: var(--font-title-post);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 0;
    font-weight: 600;
}
#detail-event .banner-detail .subtile-event {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
#detail-event .banner-detail .action-event {
    position: relative;
    margin-top: 1.5rem;
}
#detail-event .banner-detail .action-event:after {
    position: absolute;
    content: '';
    height: 0.5px;
    background-color: #c6c6c6;
    top: -15px;
    left: 0;
    right: 0;
}
#detail-event .banner-detail .action-event .btn {
    border-radius: 3px;
    padding-right: 10px; 
    padding-left: 10px; 
    display: inline-flex;
    margin-right: 5px;
    align-items: center;
    background-color: rgb(227, 227, 227);
    transition: .2s ease;
    border: none;
    outline: none;
    height: 40px;
}
#detail-event .banner-detail .action-event .btn-care:hover,
#detail-event .banner-detail .action-event .btn-join:hover
 {
    background-color: var(--color-hover-primary);
    color: #fff;
}
#detail-event .banner-detail .action-event .btn-care.active {
    background-color: var(--color-hover-primary);
    color: #fff;
}
#detail-event .banner-detail .action-event .btn i{
    padding-right: 4px;
    font-size: var(--font-journals);
}


#detail-event .main-detail {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
}
#detail-event .main-detail .social-event {
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: px;
    padding: 15px;
    height: max-content;
}
#detail-event .main-detail .social-event h4 {
    padding-bottom: 5px;
}
#detail-event .main-detail .social-event ul p {
    display: flex;
    align-items: center;
    font-size: 15px;
}
#detail-event .main-detail .social-event ul p i {
    font-size: 20px;
    padding-right: 5px;
}
#detail-event .main-detail .social-event ul span {
    font-size: 16px;
}
#detail-event .main-detail .btn-readmore {
    font-weight: 600;
    cursor: pointer;
}
#detail-event .main-detail .btn-readmore:hover {
    text-decoration: underline;
}

#detail-event .main-detail .address-event {
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   height: max-content;
   border-radius: px;
}
    
#detail-event .main-detail .address-event div {
    padding: 15px;

}
#detail-event .main-detail .address-event div h4 {
    font-size: 20px;
    margin-bottom: 0;
    font-weight: 600;
}
#detail-event .main-detail .address-event div p {
    font-size: 14px;
}
#detail-event .main-detail .address-event div .sub-address {
    font-size: 14px;
    padding-top: 3px;
    color: rgb(92, 92, 92);
}
#detail-event .main-detail .address-event iframe {
    width: 100%;
    height: 350px;
}
@media screen and (min-width: 1024px) {
    #detail-event .main-detail {
        grid-template-columns: 2fr 1fr;
        column-gap: 1.5rem;
    }
}

