@import '../app.css';

#events {
    margin-top: 2rem;
}
#events .font-title-page {
    font-size: 1.7rem;
}
#events .main-events {
    padding: 2.5rem 0;
}
#events .main-events .list-events {
    display: grid;
    row-gap: 1rem;
    grid-template-columns: 1fr;
}
#events .main-events .list-events .event-item {
    position: relative;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: unset;
    transition: .2s ease;
}
#events .main-events .list-events .event-item:hover {
    background-color: rgb(246, 246, 246);
}
#events .main-events .list-events .event-item .dot-event {
    position: absolute;
    display: flex;
    align-items: center;
    top: 8px;
    right: 8px;
    padding:5px;
    border-radius: 50%;
    cursor: pointer;
    color: #fff;
    transition: .2s ease;
    background-color: rgba(0, 0, 0, 0.4);
}
#events .main-events .list-events .event-item .dot-event:hover {
    background-color: rgba(0, 0, 0, 0.6);
}
#events .main-events .list-events .event-item .data-dot-event {
    position: absolute;
    top: 40px;
    left: 15px;
    width: 90%;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    display: none;
}
#events .main-events .list-events .event-item .data-dot-event.active {
    display: block;
}
#events .main-events .list-events .event-item .data-dot-event a {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: left;
    border-radius: 0px !important;
}
#events .main-events .list-events .event-item .data-dot-event a i {
    font-size: 20px;
    padding-right: 4px;
}
#events .main-events .list-events .event-item .data-dot-event a:hover {
    background-color: rgb(218, 218, 218);
    transition: .2s ease;
}
#events .main-events .list-events .event-item img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}
#events .main-events .list-events .event-item  .data-event {
    padding: 8px 15px 10px;
}
#events .main-events .list-events .event-item  .data-event .time-event {
    font-size: calc(var(--font-small) + 2px);
}
#events .main-events .list-events .event-item .data-event .happenning-event {
    color: red;
    text-transform: uppercase;
    font-weight: 600;
    font-size: calc(var(--font-small) + 1px);
}
#events .main-events .list-events .event-item  .data-event .title-event {
    font-size: var(--font-journals);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 0;
}
#events .main-events .list-events .event-item  .data-event .title-event:hover{
    text-decoration: underline;
}
#events .main-events .list-events .event-item  .data-event .sub-title-event {
    font-size: calc(var(--font-date) + 2px);
    font-weight: 500;
    color: rgb(62, 62, 62);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
#events .main-events .list-events .event-item  .data-event .enjoy-event {
    font-size: var(--font-small);
}
#events .main-events .list-events .event-item  .data-event .action-event {
    display: grid;
    grid-template-columns: 1fr 50px;
    column-gap: .3rem;
    margin-top: 10px;
}
#events .main-events .list-events .event-item  .data-event .action-event .btn {
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(227, 227, 227);
    transition: .3s ease;
    border: none;
    outline: none;
}
#events .main-events .list-events .event-item  .data-event .action-event .btn:last-child i{
    transform: rotate(180deg);
    font-size: 20px;
}
#events .main-events .list-events .event-item  .data-event .action-event .btn:hover {
    background-color: var(--color-hover-primary);
    color: #fff;
}
#events .main-events .list-events .event-item  .data-event .action-event .btn-care.active {
    background-color: var(--color-hover-primary);
    color: #fff;
}


@media screen and (min-width: 576px) {
    #events .main-events .list-events {
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
    }
}
@media (min-width: 567px) and (max-width: 765px) {
    .container.event {
        max-width:560px;
    }
    #events .main-events .list-events .event-item  .data-event .time-event {
        font-size: var(--font-small);
    }
    #events .font-title-page {
        font-size: 1.9rem;
    }
}
@media screen and (min-width: 1024px) {
    #events .main-events .list-events {
        grid-template-columns: repeat(3, 1fr);
    }
    #events .font-title-page {
        font-size: 3.875rem;
    }
}