@import '../app.css';

#home {
    margin-top: 2rem;
}

#home .row #sidebar-home {
    margin-top: 2rem;
}

#home .row > .grid-popular {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: .2rem;
}
#home .row > .grid-popular .content-post {
    position: relative;
}
#home .row > .grid-popular .content-post .bg-image-post {
    min-height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    overflow: hidden;
    filter:brightness(75%);
}
#home .row > .grid-popular .content-post h2 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    padding: 15px;
    font-size: var(--font-entry-title);
}
#home .row > .grid-popular .content-post h2  a {
    color: #fff;
}

#home .travel-journals {
    margin-top: 2rem;
}
#home .travel-journals > .line-travel {
    margin-bottom: 1.5rem;
    position: relative;
    text-align: center;
    font-size: var(--font-journals);
}
#home .travel-journals > .line-travel span {
    padding: 0 20px;
    background-color: #fff;
}
#home .travel-journals > .line-travel:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 0.5px;
    background: rgb(205, 205, 205);
    top: 50%;
    left: 0;
    z-index: -1;
    transform: translateY(-50%);

}
#home .travel-journals .travel-post {
    text-align: center;
    position: relative;
    margin-top: 1.5rem;
    padding-bottom: 2rem;
}
#home .travel-journals .travel-post img {
    height: 100%;
    width: 100%;
}
#home .travel-journals .travel-post:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    right: 0;
    background: url('/images/pattern.png');
    min-height: 8px;
}
#home .travel-journals .travel-post .title-travel-post {
    padding: 1rem 0 !important;
    margin: 0 !important;
}
#home .travel-journals .travel-post .travel-date {
    padding-bottom: 1rem;
}
#home .travel-journals .travel-post .short-desc {
    margin: 1rem 0;
}
#home .travel-journals .travel-post .btn-travel {
    padding: 10px 30px;
    text-align: center;
    border: 1px solid #c1beb8;
    font-family: var(--font-montserrat);
    color: #c1beb8;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .55em;
    transition: .3s ease;
}
#home .travel-journals .travel-post .box-btn {
    margin-top: 1.5rem;
}
#home .travel-journals .travel-post .btn-travel:hover {
    background-color: rgb(86, 81, 72);
    color: #fff;
}
#home .read-more-post {
    margin-top: 1.5rem;
}
#home .read-more-post .border-hover-image:hover:before {
    top: 1.5%;
    left: 1%;
    width: 98%;
    height: 97%;
}
#home .read-more-post .title{
    color: #31302e;
    font-size: var(--font-entry-title);
    margin-top: .5rem;

}

@media (min-width: 680px) {
    #home .row > .grid-popular {
        grid-template-columns: repeat(6, 1fr);
        column-gap: .2rem;
        grid-template-rows: repeat(3, 1fr);
    }
    #home .row > .grid-popular .content-post:first-child {
        grid-column: 1/4;
    }
    #home .row > .grid-popular .content-post:nth-child(2) {
        grid-column: 4/7;
    }
    #home .row > .grid-popular .content-post:nth-child(3) {
        grid-column: 1/3;
        grid-row: 2/3;
    }
    #home .row > .grid-popular .content-post:nth-child(4) {
        grid-column: 3/5;
        grid-row: 2/3;
    }
    #home .row > .grid-popular .content-post:nth-child(5) {
        grid-column: 5/7;
        grid-row: 2/3;
    }
    #home .row > .grid-popular .content-post:nth-child(6) {
        grid-column: 1/4;
        grid-row: 3/4;
    }
    #home .row > .grid-popular .content-post:last-child {
        grid-column: 4/7;
        grid-row: 3/4;
    }
}
@media (min-width: 768px) {
    #home .travel-journals .travel-post {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }
    #home .travel-journals .travel-post .title-travel-post {
        padding-top: 0 !important;
    }
}
@media (min-width: 1024px) {
    #home .read-more-post .title{
        font-size: 3.3em
    }
}
@media (min-width: 992px) {
    #home .read-more-post .box-content-read-more {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
        padding-top: 2rem;
    }
}
@media (max-width: 1024px) {
    #home .read-more-post .title{
        font-size: 3em
    }
}
@media (max-width: 769px) {
    #home .read-more-post .title{
        font-size: 2.125em
    }
}
@media (max-width: 480px) {
    #home .read-more-post .title{
        font-size: 18px
    }
}