<template>
    <div>
        <router-view></router-view>
        <div id="modal-logout"></div>
    </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import { UserSearch } from '../../layouts/layout_component'
export default {
    data() {
        return {
            infoUsers: {}
        }
    },
    components: {
        UserSearch
    },
    created() {
        this.infoUser = JSON.parse(localStorage.getItem('info_user'))
    },
    methods: {
    },
};
</script>

<style scoped>
.admin {
    padding-left: 16rem;
}
</style>
