<template>
    <div>
        <router-view></router-view>
        <div id="modal-logout"></div>
    </div>
</template>

<script>
import {
    Header,
    Footer,
    Search,
    SocialMisc,
} from "../../layouts/layout_component";
export default {
    components: {
        Header,
        Footer,
        Search,
        SocialMisc,
    },
};
</script>

<style></style>
