@import '../app.css';

.container-footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}
.logo-footer a img {
    height: auto;
}
.nav-footer .list-nav-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2.5rem;
    row-gap: 2.5rem;
    margin-top: 3.5rem;
}
.list-nav-footer .item-nav-footer {
    font-family: var(--font-montserrat) ;
    text-transform: uppercase;
    font-size: var(--font-small);
    letter-spacing: 2px;
    font-weight: 400;
}
.link-nav-footer {
    transition: .3s ease;
    position: relative;
}
.link-nav-footer:hover {
    color: var(--color-hover-primary);
}
.link-nav-footer:hover:after {
    opacity: 1;
    transform: translateY(3px);
    transition: .3s ease;

}
.link-nav-footer:after {
    position: absolute;
    content: '';
    left: 0;
    top: 15px;
    width: 100%;
    height: 2px;
    background-color: var(--color-hover-primary);
    transform: translateY(12px);
    opacity: 0;
    transition: .3s ease;
}

.siteinfo {
    margin: 3rem 0 1.5rem;
    text-align: center;
}
.siteinfo p {
    justify-self: center;
    font-family: var(--font-taviraj);
    font-size: var(--font-siteinfo);
}
.scroll-up-footer {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 25px;
}
.scroll-up-footer:hover > i{
    transform: translateY(-25px);
    transition: .2s linear;
}
.scroll-up-footer i {
    font-size: var(--font-title-post);
    transform: translateY(0px);
    font-weight: 300;
    transition: .2s linear;
    display: inline-block;
}
.scroll-up-footer i:last-of-type:hover {
    transition: .7s ease;
    color: var(--color-hover-primary);
}

/*TODO Breakpoint */
/* For small devices */
@media screen and (max-width: 320px) {
    .nav-footer .list-nav-footer {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        row-gap: 2.5rem;
    }
    .logo-footer a img {
        width: 120px;
    }
}
/* For medium devices */
@media screen and (min-width: 767px) {

}
/* For large devices */
@media screen and (min-width: 1024px) {

}