@import '../app.css';

.header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.header__nav{
    height: 0;
    background-color: #ffffff;
    transition: all 0.4s linear;
}
.header__bg-img {
    margin-top: 1rem;
}
.nav-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.nav-item-header{
    position: relative;
    text-align: center;
}
.nav-item-header > .nav-link-header{
    position: relative;
    color: var(--text-color) !important;
    font-family: var(--font-montserrat);
    font-size: var(--font-small);
    font-weight: 400;
    letter-spacing: 2px;
    transition: .3s ease;
}
.header__nav > .nav-logo{
    display: none;
    width: 70px;
}
.header__nav > .scroll-up-header {
    display: none;
    width: 70px;
}
.header_reponsive{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 90;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    font-size: 28px;
    height: 60px;
    background-color: #ffffff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.open-navbar{
    padding: 5px;
    cursor: pointer;
}
.close-navbar{
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    font-size: 28px;
    cursor: pointer;
}
.btn-dropdown{
    display: block;
    position: absolute;
    top: 5%;
    right: 20%;
    font-size: 28px;
    cursor: pointer;
}
.nav-content{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 90;
    visibility: hidden;
}
.nav-content.show{
    background-color: rgba(255, 255, 255, 0.9);
    flex-direction: column;
    opacity: 1;
    visibility: visible;
}
.nav-content.show > .nav-item-header{
    width: 100%;
    padding: 10px;
}
.nav-content.show > .nav-item-header > .nav-link-header{
    font-size: 16px;
    text-align: center;
    color: #000000;
}
.nav-item-header > .dropdown-nav{
    height: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-top: 1px solid #dfe6e9;
    border-bottom: 1px solid #dfe6e9;
    overflow: hidden;
    transition: .4s linear;
}
.dropdown-nav > li{
    width: 100%;
}
.dropdown-nav > li > .dropdown-nav-item{
    display: block;
    padding: 10px;
    color: #000000;
    text-align: center;
    font-family: var(--font-montserrat);
    font-size: 16px;
    font-weight: 400;
}
.dropdown-nav > li > .dropdown-nav-item:focus{
    color: #ffffff;
    background-color: var(--color-hover-primary);
}
.dropdown-nav.active {
    height: auto;
    transition: .4s linear;
}
@media screen and (max-width: 764px ) {
    .header__bg-img {
        margin-top: 4rem;
    }
}
@media screen and (min-width: 765px) {

    .header__nav{
        height: 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header_reponsive{
        display: none;
    }
    .nav-content{
        position: unset;
        opacity: 1;
        visibility: visible;
    }
    .close-navbar{
        display: none;
    }
    .btn-dropdown{
        display: none;
    }
    .nav-item-header > .dropdown-nav{
        height: auto;
        position: absolute;
        top: 100%;
        left: 0;
        margin: 0;
        /* padding: 10px; */
        background-color: #ffffff;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
        overflow: unset;
        opacity: 0;
        visibility: hidden;
    }
    .nav-item-header:hover > .dropdown-nav{
        opacity: 1;
        visibility: visible;
    }
    .dropdown-nav > li > .dropdown-nav-item{
        display: block;
        font-family: var(--font-montserrat);
        font-size: 13px;
        font-weight: 400;
        padding: 10px 10px;
    }
    .dropdown-nav > li:hover > .dropdown-nav-item{
        color: #ffffff;
        background-color: var(--color-hover-primary);
    }
    .nav-item-header > .nav-link-header:hover {
        color: var(--color-hover-primary) !important;
        transition: .3s ease;
    }
    .nav-item-header > .nav-link-header:hover:after {
        opacity: 1;
        transform: translateY(3px);
        transition: .3s ease;
    }
    .nav-item-header > .nav-link-header:after {
        position: absolute;
        content: '';
        left: 0;
        top: 25px;
        width: 100%;
        height: 2px;
        background-color: var(--color-hover-primary);
        transform: translateY(12px);
        opacity: 0;
        transition: .3s ease;
    }
    .header__nav.fixed{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 90;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        transition: all 0.4s linear;
    }
    .header__nav.fixed > .nav-logo{
        display: block;
        margin-left: 50px;
    }
    .header__nav.fixed > .scroll-up-header {
        display: block;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        height: 25px;
    }
    .header__nav.fixed > .scroll-up-header:hover > i{
        transform: translateY(-25px);
        transition: .2s linear;
    }
    .header__nav.fixed > .scroll-up-header i {
        font-size: var(--font-title-post);
        transform: translateY(0px);
        font-weight: 300;
        transition: .2s linear;
        display: inline-block;
    }
    .header__nav.fixed > .scroll-up-header i:last-of-type:hover {
        transition: .7s ease;
        color: var(--color-hover-primary);
    }
}
.tool-box i {
    color: #000000;
}
.user-icon {
    position: relative;
}
.more-user.active {
    opacity: 1;
    visibility: visible;
}
.more-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 78%;
    right: 10%;
    background-color: #fff;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 3px;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: .2s ease;
}
.more-user .link-more-user{
    display: flex;
    align-items: center;
    width:100%;
    font-size: calc(var(--font-desc) - 2px);
    padding: 7px 35px 7px 15px;
    transition: .2s ease;
}
.more-user .link-more-user i {
    transition: .2s ease;
    color: black;
    font-size: var(--font-desc);
    padding-right: 6px;
}
.more-user .link-more-user:hover {
    background-color: var(--color-hover-primary);
    color: #fff;
}
.more-user .link-more-user:hover i {
    color: #fff;
}

.modal-detail-user span div {
    position: relative;
    margin-bottom: 1rem;
}
.modal-detail-user span div::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: rgb(219, 219, 219);
    left: 0;
    bottom: 0;
}


.modal-detail-user span div .input-detail {
    outline: none;
    border: none;
    font-size: 18px;
    width: 95%;
}
