@import '../app.css';

.sidebar-search  {
    padding-left: 45px;
    font-family: var(--font-prata);
}
.sidebar-search .header-search {
    margin-bottom: 2rem;
}
.sidebar-search .line-center{
    font-size: var(--font-journals);
    text-align: center;
    position: relative;
}
.sidebar-search .line-center:before {
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    width: 100%;
    height: 0.5px;
    background: rgb(205, 205, 205);
    z-index: -1;
}
.sidebar-search .line-center span {
    padding: 0 20px;
    background: #fff;
    word-break: break-word;
    word-wrap: break-word;
}
.sidebar-search .header-search input {
    margin: 1.5rem 0 0;
    width: 100%;
    height: 45px;
    padding-left: 10px;
    border: 1px solid rgb(203, 203, 203);
    outline: none;
    transition: .2s ease;
}
.sidebar-search .header-search input:focus {
    border: 1px solid var(--date-color)
}

.sidebar-search .social-search .list-social-search {
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
}
.sidebar-search .social-search .list-social-search a {
    margin-bottom: .4rem;
    text-align: center;
    padding: 15px 10px;
}
.sidebar-search .social-search .list-social-search a:nth-child(1) {
    background-color: #4c76d1;
    transition: .2s ease;
}
.sidebar-search .social-search .list-social-search a:nth-child(1):hover {
    background-color: #39599F;
}

.sidebar-search .social-search .list-social-search a:nth-child(2) {
    background-color: #de2932;
    transition: .2s ease;
}
.sidebar-search .social-search .list-social-search a:nth-child(2):hover {
    background-color: #C8232C;
}


.sidebar-search .social-search .list-social-search a:nth-child(3) {
    background-color: #38001b;
    transition: .2s ease;
}
.sidebar-search .social-search .list-social-search a:nth-child(3):hover {
    background-color: #110008;
}


.sidebar-search .social-search .list-social-search a:nth-child(4) {
    background-color: #4ca7fc;
    transition: .2s ease;
}

.sidebar-search .social-search .list-social-search a:nth-child(4):hover {
    background-color: #3897F0;
}


.sidebar-search .social-search .list-social-search a:nth-child(5) {
    background-color: #50c2f7;
    transition: .2s ease;
}
.sidebar-search .social-search .list-social-search a:nth-child(5):hover {
    background-color: #36a2d4;
}

.sidebar-search .social-search .list-social-search a:nth-child(6) {
    background-color: #2babce;
    transition: .2s ease;
}
.sidebar-search .social-search .list-social-search a:nth-child(6):hover {
    background-color: #2C9AB7;
}
.sidebar-search .social-search .list-social-search a i {
    float: left;
    color: #fff;
    padding-left: 7px;
    font-size: var(--font-journals);
}
.sidebar-search .social-search .list-social-search a span, 
.sidebar-search .social-search .list-social-search a small {
    color: #fff;
}
.sidebar-search .social-search .list-social-search a small {
    font-size: 13px;
}
.sidebar-search .social-search {
    margin-bottom: 2rem;
}
.sidebar-search .adventure-await img {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.sidebar-search .unread-post {
    margin-top: 1.5rem;
}
.unread-post .list-unread{
    display: flex;
    flex-direction: column;
}
.unread-post .list-unread .item-unread {
    display: flex;
    justify-content: space-between;
    column-gap: .4rem;
    position: relative;
    padding: 1rem 0;
}
.unread-post .list-unread .item-unread:before {
    position: absolute;
    content:'';
    width: 100%;
    height: 1px;
    background-color: rgb(205, 205, 205);
    bottom: 0;
    left: 0;
}

.unread-post .list-unread .item-unread h3{
    font-size: var(--font-small);
    text-align: center;
    transition: .2s ease;
}
.unread-post .list-unread .item-unread h3 a:hover {
    color: rgb(96, 96, 96);
}
.unread-post .list-unread .item-unread a {
    float: right;
}