@import '../app.css';
.social_misc {
    display: none;
}
.socials {
    position: fixed;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    display: grid;
    row-gap: 1rem;
}
.social-link {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 5px;
}
.social-link i {
    font-size: var(--font-socials);
    transition: .2s ease;
}
.list-link {
    position: relative;
    padding: 5px;
    transition: .2s ease;
}
.socials .social-link:nth-of-type(1):after {
    position: absolute;
    content: 'facebook';
    font-size: calc(var(--font-small) - 1px);
    font-family: var(--font-montserrat);
    text-transform: uppercase;
    right: -65px;
    opacity: 0;
    transition: .2s linear;
}
.socials .social-link:nth-of-type(2):after {
    position: absolute;
    content: 'twitter';
    font-size: calc(var(--font-small) - 1px);
    font-family: var(--font-montserrat);
    text-transform: uppercase;
    right: -53px;
    opacity: 0;
    transition: .2s linear;
}
.socials .social-link:nth-of-type(3):after {
    position: absolute;
    content: 'instagram';
    font-size: calc(var(--font-small) - 1px);
    font-family: var(--font-montserrat);
    text-transform: uppercase;
    right: -72px;
    opacity: 0;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
          /* Also define standard property for compatibility */
          background-clip: text;
  -webkit-text-fill-color: transparent;
    transition: .2s linear;
}
.socials .social-link:nth-of-type(4):after {
    position: absolute;
    content: 'pinterest';
    font-size: calc(var(--font-small) - 1px);
    font-family: var(--font-montserrat);
    text-transform: uppercase;
    right: -65px;
    color: red;
    opacity: 0;
    transition: .2s linear;
}
.socials .social-link:nth-of-type(5):after {
    position: absolute;
    content: 'blogvin';
    font-size: calc(var(--font-small) - 1px);
    color: red;
    font-family: var(--font-montserrat);
    text-transform: uppercase;
    right: -60px;
    opacity: 0;
    transition: .2s linear;
}
.socials .social-link:hover:after {
    opacity: 1;
    transition: .2s linear;
}
.socials .social-link:nth-of-type(1):hover i {
    color: #0270e6; 
}
.socials .social-link:nth-of-type(2):hover i {
    color: #3d91da; 
}
.socials .social-link:nth-of-type(3):hover i {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
          /* Also define standard property for compatibility */
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.socials .social-link:nth-of-type(4):hover i {
    color: red; 
}
.socials .social-link:nth-of-type(5):hover i {
    color: red; 
}



.social_misc .misc {
    position: fixed;
    top: 50%;
    right: -130px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    transform: rotate(-90deg);
    column-gap: 1.85rem;
}
.misc a, .misc span {
    color: #000000;
    display: inline-block;
    font-family: var(--font-montserrat);
    text-transform: uppercase;
    font-weight: 700;
    font-size: calc(var(--font-small) - 1px);
    letter-spacing: 1px;
    position: relative;
    cursor: pointer;
}
.misc a:hover, .misc span:hover {
    color: inherit;
}
.misc .link-misc:nth-child(2):after {
    position: absolute;
    content: '';
    left: -20px;
    top: 5px;
    width: 13px;
    height: 2px;
    background-color: black;
}
.misc .link-misc:nth-child(2):before {
    position: absolute;
    content: '';
    right: -20px;
    top: 5px;
    width: 13px;
    height: 2px;
    background-color: black;
}
.misc .search-misc {
    position: relative;
}
.misc .search-misc:before {
    position: absolute;
    content: '';
    right: -20px;
    top: 5px;
    width: 13px;
    height: 2px;
    background-color: black;
}
.search-misc {
    display: flex;
    justify-content: center;
    align-items: center;
}
.misc .search-misc i {
    padding-left: 3px;
}



.search-misc-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 98;
    transition: .2s ease;
}
.search-misc-container.active {
    opacity: 1;
    visibility: visible;
    transition: .2s ease;
}
.search-misc-container .background-gradient{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.95);
}
.search-misc-container .search-misc-form {
    z-index: 99;    
}
.search-misc-form {
    position: relative;
    width: 650px;
    height: 50px;
    display: flex;
    align-items: center;
    transform: translateY(0);
    transition: .3s ease;
}
.search-misc-form:after {
    position: absolute;
    content: '';
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 0.5px;
    background-color: rgb(183, 183, 183);
}
.search-misc-container.active > .search-misc-form {
    transform: translateY(-85px);
    transition: .2s ease;
    transition-delay: .4s;
}
.search-misc-form input {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-family: var(--font-prata);
    font-size: var(--font-title-post);
    background-color: transparent;
    color: #444;
}
.search-misc-form input::placeholder {
    font-family: var(--font-prata);
    font-size: var(--font-title-post);
}
.search-misc-form i {
    font-size: var(--font-title-post);
    color: #444;
    font-weight: 300;
    cursor: pointer;
}


.subscribe-misc-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 98;
    opacity: 0;
    visibility: hidden;
    transition: .2s ease;
}
.subscribe-misc-container.active {
    opacity: 1;
    visibility: visible;
}
.subscribe-misc-container .background-gradient {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.65);

}

.subscribe-misc-container .subscribe-misc-form {
    display: flex;
    width: 650px;
    height: 300px;
    background-color: #fff;
    z-index: 99;
    padding: 15px;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition:all .3s;
    transition-delay: .3s;
    border-radius: 3px;
}
.subscribe-misc-container.active .subscribe-misc-form {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}
.subscribe-misc-container.activeTransY .subscribe-misc-form {
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition:all .3s;
}




.subscribe-misc-container .subscribe-misc-form img {
    border-radius: 3px;
}
.subscribe-misc-container .form-main {
    width: 100%;
    padding: 15px 30px;
    display: flex;
    justify-content: center;
}
.subscribe-misc-container .form-main form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.subscribe-misc-container .form-main form span {
    font-family: var(--font-taviraj);
    font-weight: 700;
    font-size: calc(var(--font-socials) + 2px);
    color: var(--des-color);
    padding-bottom: 5px;
}
.subscribe-misc-container .form-main form input {
    outline: none;
    border: 1px solid rgb(205, 205, 205);
    border-radius: 1px;
    width: 100%;
    height: 50px;
    padding: 0 10px;
    font-family: var(--font-taviraj);
    transition: .2s linear;

}
.subscribe-misc-container .form-main form input:focus {
    border: 1px solid rgb(255, 149, 0);
}
.subscribe-misc-container .form-main form .btn {
    outline: none;
    border: none;
    border-radius: inherit;
    font-family: var(--font-taviraj);
    padding: 15px 20px;
    background-color: var(--des-color);
    color: white;
    margin-top: 15px;
    width: 150px;
    transition: .2s ease;
}
.subscribe-misc-container .form-main form .btn:hover {
    background-color: rgb(126, 126, 126);
}
.subscribe-misc-container .close-form-subscribe {
    cursor: pointer;
}
.subscribe-misc-container .close-form-subscribe i {
    font-size: var(--font-title-post);
    font-weight: 300;
    color: var(--des-color)
} 
.more-user-large div{
    display: flex;
    flex-direction: column;
}
.more-user-large {
    position: absolute;
    bottom: 160%;
    right: -1%;
    transform: rotate(90deg);
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 3px;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: .2s ease;
    z-index: 99;
}
.more-user-large div a {
    padding: 10px 10px;
    font-size: 13px;
    font-weight: 500;
}
.more-user-large div a i {
    font-size: 18px;
}

.more-user-large .link-more-user:hover {
    background-color: var(--color-hover-primary);
    color: #fff;
}
.more-user-large .link-more-user:hover i {
    color: #fff;
}
.more-user-large.active {
    opacity: 1;
    visibility: visible;
}
@media screen and (min-width: 765px) {
    .social_misc {
        display: block;
    }
}